html, body, div, canvas {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

div.user {
	position: relative;
	width: 10px;
	height: 10px;
	background-color: blue;
}